/* Libre Franklin */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;700;900&display=swap");

/* Signika Negative */
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap");

/* Signika */
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

/* Alegreya Sans */
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

/* acc Libre F main Signika */

:root {
  --accent-font: "Libre Franklin";
  --main-font: "Signika";
  --background-color: #221818;
  --text-color: white;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

body {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 1.4rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  position: sticky;
}

h1 {
  font-family: var(--accent-font);
  font-size: 3rem;
}

.perfect {
  font-family: "Alegreya Sans";
  font-weight: 100;
  font-size: 5rem;
}

#h-white,
#h-red,
#h-green,
#h-blue {
  display: inline-block;
}

#h-white {
  color: ivory;
}

#h-red {
  color: red;
}

#h-green {
  color: green;
}

#h-blue {
  color: blue;
}

.nav-flex-parent {
  display: flex;
  justify-content: space-evenly;
}

.nav-child {
  list-style-type: none;
  padding-left: 2rem;
  font-size: 1.2rem;
}

.nav-child:first-of-type {
  padding-left: unset;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
}

.banner-child {
  width: 100%;
}

#teeth {
  font-size: 1.2rem;
  letter-spacing: 5px;
}

section {
  height: 100vh;
}

#toscroll1,
#toscroll2,
#toscroll3 {
  height: 100vh;
}

#toscroll1 {
  background-color: rgb(34, 182, 108);
}
#toscroll2 {
  background-color: rgb(21, 150, 143);
}
#toscroll3 {
  background-color: rgb(175, 107, 80);
}
